*{margin:0;padding:0;box-sizing:border-box}
body{background:#000;overflow:hidden;font-family:Arial}
#webgl{position:fixed;inset:0}

#overlay{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(#000,#030303);
  z-index:10;
}

#enterBtn{
  padding:16px 40px;
  border:2px solid #00ffff;
  background:transparent;
  color:#00ffff;
  font-size:18px;
  letter-spacing:2px;
  cursor:pointer;
  transition:.3s;
}
#enterBtn:hover{background:#00ffff;color:#000}

